@charset 'utf-8';
/* CSS Document */

body,
td,
th,
p {
    color: $mine-shaft;
    font-family: $font-family;
    font-size: 10pt;
    line-height: 1.5;
}

body {
    background-color: $porcelian;
    margin: 0;
    min-width: 320px;
    position: relative;
}

ul,
li {
    color: $mine-shaft;
    font-family: $font-family;
    font-size: 10pt;
}

a {
    color: $cinnabar;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.skip-link {
    color: white;
    left: 0;
    position: absolute;
    top: -40px;
    z-index: 9000;
}

.skip-link:focus {
    background: white;
    color: #3397db;
    padding: 20px;
    top: 0;
}

#status {
    &.offline {
        align-content: center;
        background: #b50606;
        color: white;
        display: flex;
        font-size: 20px;
        font-weight: 400;
        justify-content: center;
        padding: 20px;
        position: fixed;
        width: 100%;
    }
}

body.inside {
    #status {
        &.offline {
            position: fixed;
            top: 0;
            z-index: 9999;
        }
    }
}

.toaster {
    display: none;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 999999; // https://codepen.io/brissmyr/pen/egidw
    &.open {
        display: block;
    }
    .close {
        height: 16px;
        opacity: 0.3;
        position: absolute;
        right: 20px;
        top: 10px;
        width: 16px;
    }
    .close:hover {
        cursor: pointer;
        opacity: 1;
    }
    .close:before,
    .close:after {
        background-color: #333;
        content: ' ';
        height: 17px;
        left: 15px;
        position: absolute;
        width: 2px;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }
    .message {
        background: #4caf50;
        border-radius: 2px;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        width: 50%;
    }
}
