/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @include mobile-tablet {
        position: relative;
    }
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: calc(100% - 80px);
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;

    @include mobile-tablet {
        height: 220px;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: calc(100% - 50px);
}

#restaurant-name {
    color: $cinnabar;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    grid-column: 1 / 5;
    grid-row: 1;
    letter-spacing: 0;
    line-height: 1.1;
    margin: 30px 0 10px;
    text-transform: uppercase;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include mobile-tablet {
        margin-bottom: 0;
    }
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    padding: 140px 20px 30px;
    width: 50%;
}

#reviews-container {
    padding: 0;
    width: 50%;

    @include mobile-tablet {
        width: 100%;
    }
}

#restaurant-container {
    box-sizing: border-box;
    display: grid;
    padding-bottom: 0;

    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include mobile-tablet {
        padding-top: 0;
        width: 100%;
    }
    figure {
        display: flex;
        margin: 0;
    }
    picture {
        display: flex;
        width: 100%;
        img {
            height: auto;
            max-width: 100%;
            width: 100%;

            object-fit: cover;
        }
    }
}

#reviews-container h2 {
    color: #333;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    text-indent: 20px;
}

.info-grid {
    grid-column: 1 / 3;
    grid-row: 2;
    position: relative;

    @include mobile-tablet {
        grid-column: 1/5;
    }
    @include tablet {
        grid-column: 1/5;
    }
}

.details-grid {
    grid-column: 3 / 5;
    grid-row: 2;

    @include mobile-tablet {
        grid-column: 1/5;
        grid-row: 3;
    }
    @include tablet {
        grid-column: 1/5;
        grid-row: 3;
    }
}

table {
    @include mobile-tablet {
        margin-bottom: 20px;
    }
    @include mobile-tablet {
        margin-bottom: 20px;
    }
}

#reviews-list {
    display: grid;
    margin: 0;
    margin-bottom: 40px;
    padding: 20px;

    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;
    @include mobile-tablet {
        grid-template-columns: 1fr;
    }
    @include tablet {
        grid-template-columns: 1fr;
    }
}

#reviews-list li {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 5px 5px 25px 0 rgba(125, 121, 121, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 100%;
}

#reviews-list li p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
    font-size: 14px;
    font-weight: 300;
}

.add-review {
    background: #d1d3d4;
    margin: 20px;
    padding: 20px;
    width: 70%;
    form {
        display: flex;
        flex-direction: column;
        label {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
            width: 100%;
        }
        input {
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 6px;
            width: 100%;
        }
        .field-set {
            border: none;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 0;
        }
        select {
            font-size: 16px;
            line-height: 32px;
            width: 100%;
        }
        .form-errors {
            color: red;
            display: none;
        }
        .form-errors.has-error {
            display: block;
        }
        textarea {
            font-size: 16px;
            min-height: 200px;
            width: 100%;
        }
        button {
            background: #1b2630;
            color: white;
            font-size: 20px;
            margin-top: 20px;
            padding: 10px;
            text-transform: uppercase;
            width: 100%;
            &:hover {
                background: darken(#ff6656, 10%);
                cursor: pointer;
            }
        }
    }
}
